body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
    min-width: 468px;
}

.section_1 {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 10px 200px;
    min-width: 468px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    margin: 0px;
    min-height: 60px;
}

.header_links {
    display: flex;
    list-style: none;
    font-size: 18px;
    gap: 18px;
    font-weight: normal;
}

a, a:visited {
    text-decoration: none;
    color: #e5e7eb;
}

.hero_main {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin: 0px;
}

.hero_secondary {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0px 0px 10px;
}

button {
    background-color: #3882F6;
    border-radius: 6px;
    border: none;
    color: #e5e7eb;
    font-weight: bold;
    padding: 5px 20px;
}

.hero_all {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 50px;
    padding: 50px 0px 70px;
}

.image1 {
    display: flex;
    max-height: 300px;
    max-width: 300px;
    flex-grow: 0;
}

.txt_with_button {
    max-width: 470px;
}

.section_2 {
    display: flex;
    flex-direction: column;
    padding: 10px 200px;
    min-width: 468px;
}

.header2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    padding: 20px;
}

.four_image {
    display: flex;
    list-style: none;
    justify-content: space-around;
    gap: 10px;
    padding-bottom: 54px;
    padding-left: 0px;
}

.subtext2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #585858;
    gap: 8px;
    max-width: 200px;
}

.hotair_image {
    height: 200px;
    width: 200px;
}

.section_3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 70px 200px;
    min-width: 468px;
}

.full_quote {
    display: flex;
    flex-direction: column;
    max-width: 815px;
}

.quote {
    display: flex;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
    margin: 0px;
}

.speaker {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    align-self: flex-end;
}

.section_4 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 200px;
    min-width: 468px;
}

.s4_all {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3882F6;
    border-radius: 6px;
    padding: 35px 60px;
    min-width: 750px;
    gap: 100px;
    color: #E5E7EB;
}

.s4_all button {
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    border: 2px solid #E5E7EB;
}

.call {
    font-size: 20px;
    font-weight: bold;
}

.section_5 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    padding: 30px 200px;
    min-width: 468px;
    color: #E5E7EB;
}